#Logo{
    height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.Hbutton{
    font-size: medium;
    font-weight: bolder;
    flex: 1 1 0px;
    height: 50px;
    background-image: linear-gradient(rgb(200, 200, 200),rgb(250, 250, 250), rgb(200, 200, 200));
    opacity: 0.8;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.Hbutton:hover,#searchicon{
    opacity: 1;
    cursor: pointer;
}
#searchbar{
    padding: 0px;
    padding-left: 10px;
    height: 46px;
    flex: 1 1 0px;
    border: 2px solid black;
    text-align: left;
}
#searchicon{
    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 46px;
    width: 40px;
    border: 2px solid black;
    border-left: 0px;
}
footer{
    width: 100%;
    display: flex;
}
.Fbutton{
    font-size: medium;
    font-weight: bolder;
    flex: 1 1 0px;
    height: 50px;
    background-color: white;
}
.Fbutton:hover{
    text-decoration: underline;
    cursor: pointer;
}