#Logo{
    height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
header, footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.Hbutton{
    font-size: medium;
    font-weight: bolder;
    flex: 1 1 0px;
    height: 50px;
    background-image: linear-gradient(rgb(200, 200, 200),rgb(250, 250, 250), rgb(200, 200, 200));
    opacity: 0.8;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#Themabtn,#Actiesbtn,#Folderbtn{
    font-size: medium;
    font-weight: bolder;
    flex: 0.5 0.5 0px;
    height: 50px;
    opacity: 0.8;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#Themabtn{
    background-color: gray;
    color: white;
}
#Actiesbtn{
    background-color: yellow;
}
#Folderbtn{
    background-color: red;
    color: white;
}
#searchbar{
    padding-left: 10px;
    height: 44px;
    font-size: medium;
    border: 2px solid black;
    text-align: left;
}
#searchicon{
    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 46px;
    width: 40px;
    border: 2px solid black;
    border-left: 0px;
}


#Grid1{
    display: flex;
    flex-direction: row;
    
    flex: 1 1 0px;
}

/* #Grid1{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: center;
} */

/* NIEUWSBRIEF */
.NieuwsBrief{
    background-color: tomato;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 50px;
}
.NieuwsBrief h3{
    margin-top: 0px;
}
#Nieuwsbriefipt{
    width: 25%;
    display: flex;
    justify-content: center;
} 
#Nieuwsbriefipt input{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#Nieuwsbriefipt button{
    height: 39px;
    width: 50px;
    background-image: linear-gradient(gray,rgb(250, 250, 250),gray);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* FOOTER */
.Fbutton{
    font-size: medium;
    font-weight: bolder;
    flex: 1 1 0px;
    height: 50px;
}
.Fbutton:hover{
    text-decoration: underline;
}
.Fbutton:focus{
    cursor: wait;
}