button{
    border: 0px;
    padding: 0px;
}

body{margin: 0px 50px;}

header{
    margin: 0px;
    padding: 0px;
}

button:hover, a:hover{
    opacity: 1;
    cursor: pointer;
}

button:focus{cursor: wait;}

p{margin: 0px;}

a{
    text-decoration: none;
    border: 0px;
    padding: 0px;
}